*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:"Fira Sans", sans-serif;
}

body{
  background-color:rgb(255, 253, 251);
}

.App{
  display:flex;
  align-items:center;
  justify-content: center;
  min-height: 100vh;
}

.c-player{
  display:block;
  background-color:rgb(6, 14, 10);
  padding:50px;
  border-radius:16px;
  box-shadow:inset -6px -6px 12px rgba(24, 4, 4, 0.8), inset 6px 6px 12px rgba(255,255,255,0.4);

}

.c-player >h4 {
  color:azure;
  font-size:16px;
  text-transform:uppercase;
  font-weight:400;
  text-align:center;

}

.c-player > p{
  color:aliceblue;
  font-size:14px;
  text-align:center;
  font-weight:400;
}

.c-player--details .details-img{
  position:relative;
  width: fit-content;
  margin: 50px auto;

}

.c-player--details .details-img img {
  display:block;
  margin: 0px auto;
  width: 100%;
  max-width:250px;
  border-radius:20px;
  box-shadow: 6px 6px 12px rgba(0,0,0,0.8),-6px -6px 12px rgba(137, 132, 132, 0.4); 
}

.c-player--details .details-title {
  color:#EEE;
  font-size:28px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8), -2px -2px 4px rgba(123, 120, 120, 0.4);
  text-align:center;
  margin-bottom:10px;
}

.c-player--details .details-artist{
  color:#AAA;
  font-size: 20px;
  text-shadow:2px 2px 4px rgba(0,0,0,0.8)-2px -2px 4px rgba(255, 255, 255, 0.4);
  text-align:center;
  margin-bottom: 20px;
}

.c-player--controls{
  display:flex;
  align-items:center;
  justify-content:center;
  margin-bottom:30px;
}

.c-player--controls .play-btn{
  display:flex;
  margin:0 30px;
  padding: 20px;
  border-radius:50%;
  box-shadow:inset4 px 4px 10px regba(0,0,0,0.8),
    -4px -4px 10px rgba(255, 255 ,255, 0.4),
    inset -4px -4px 10px rgba (0,0,0,0.4),
    inset 4px 4px 10px rgba (255, 255, 255 0.4);
    border :none;
    outline: none;
    background-color:rgb(47, 203, 151);
    color:#FFF;
    font-size: 24px;
    cursor:pointer;

}

.c-player--controls .skip-btn {
  background:none;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(43, 143, 206);
  font-style: 18px;

}